.footer {
  background-color: var(--panel-light);
  padding: 1.5rem 2rem;
  box-shadow: 0 -4px 8px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 16px);
  border-radius: 10px;
  margin-top: 2rem;
}


.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 1rem;
}




.footer-left p {
  color: black;
  font-size: 0.9rem;
}

.footer-nav {
  display: flex;
  gap: 2rem;
}

.footer-nav a {
  color: var(--prima-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.footer-nav a:hover {
  color: var(--hover-color);
}

.footer-right .social-icons {
  display: flex;
  gap: 1rem;
}

.social-icon {
  color: var(--white);
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--prima-color);
}